* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
/.cursor export-ignore
/.DS_Store export-ignore
/.env export-ignore
/AGENTS.md export-ignore
/boost.json export-ignore
/bootstrap/cache/*.php export-ignore
/database/database.sqlite export-ignore
/node_modules export-ignore
/phpunit.xml export-ignore
/phpstan.neon export-ignore
/pint.json export-ignore
/public/build export-ignore
/public/hot export-ignore
/public/storage export-ignore
/rector.php export-ignore
/storage/debugbar export-ignore
/storage/framework/views/* export-ignore
/storage/logs/*.log export-ignore
/storage/pail export-ignore
/tests export-ignore
/vendor export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
